* {
    margin: 20px 10px 0;
    padding: 0;
}

.wrapper1{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(4, 1fr);
    gap: 4em;
    align-items: end;
}

.wrapper1-child{
    align-self: baseline;
}

.wrapper1>img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper2{
    display: grid;
    width: 100%;
    grid-template-columns: 24% 25% 25% 25%;
    margin: 0;
    padding: 0;
    gap: 1.1em;
}

.wrapper2 > div{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 7px;

}

p, h2, h5{
    font-family: 'Quicksand', sans-serif;
    
}
